<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h3>User info:</h3>
  <pre>
    <code>{{user}}</code>
  </pre>
  <a href="{{LOGIN_URL}}">
    <button type="button">{{btnName}} ({{views}} views)</button>
  </a>
  <hr />
  <ul>
    {{#each links as |link|}}
      <li> <a href="{{link}}">Link to {{link}}</a></li>
    {{/each}}
  </ul>
</body>

</html>
